<%- include("Partials/Header"); -%>

<div class="container py-5 my-4" id="post">
  <%- include("addPost"); -%>
  
  <div id="all_posts">
    <h1 class="d-block text-center">All Posts</h1>
    <div class="row mx-auto">
      <% if(allpost!=0) {%> <% for(post of allpost){ %> <%- include('posts') -%>
      <% } %> <% } %>
    </div>

    <% if(allpost==0){ %>

    <div class="text-center mx-auto mt-3 pt-4">
      <h4><%= message %></h4>
    </div>

    <% } %>
  </div>

  <!-- add post -->
</div>

<%- include("Partials/Footer"); -%>

<script src="js/home.js"></script>
