<div class="col-lg-4 col-md-6 mt-3 mx-auto post" id="post-<%= post._id %>">

    <div class="card" id="user-<%= post.user._id %>">
      <div class="card-img-top">
        <img
          src="data:<%= post.img.contentType %>;base64,<%= post.img.data.toString('base64')%>"
          alt="pic"
          class="img-fluid"
        />
      </div>

      <div class="card-body">
        <h1><%= post.caption %></h1>
        <div class="row">
          <div class="col-lg-4">
            <h2>
              <img
                src="data:<%= post.img.contentType %>;base64,<%= post.img.data.toString('base64')%>"
                alt="pic"
              />
              <%= post.user.name %>
            </h2>
          </div>

          <div class="col-lg-8" id="del">
            <span>
                <% if (locals.user == post.user._id) {%>
              <button type="submit" id="del-<%= post._id %>" class="del_submit">
                <i class="ri-delete-bin-2-line mx-1"></i>
              </button>
              <% } %>
              

              <button type="submit" class="commentPost">
                <%= post.comments.length %>
                <i class="fa-regular fa-comment mx-1"></i>
              </button>

              <button type="submit" class="likePost">
                <%= post.like %>
                <i class="ri-heart-line mx-1"></i>
              </button>
            </span>
          </div>
        </div>

        <form class="row px-3 comment_form" id="commentForm-<%= post._id %>">
          <input
            type="text"
            placeholder="Type your comment"
            class="form-control py-2 col-8"
            name="comment"
            required
          />
          <input type="hidden" value="<%= post._id %>" name="posts" />
          <!-- <button type="submit" class="submitComment" id="commentbtn-<%= post._id %>">Submit</button> -->
          <input type="submit" value="Submit" class="submitComment col-4" id="commentbtn-<%= post._id %>"/>
        </form>

      </div>

      <div class="comment">
        <ul class="list-unstyled">
          <% for (comments of post.comments) { %>
            <a href="/profile/<%= comments.user._id %>" id="user-profile-<%= comments._id %>">
                <p class="px-3 mb-0" id="comment-<%= comments._id %>">
                  <small>
                    <%= comments.user.name %>
                  </small>
                  <%= comments.comment %>
                </p>
            </a>
          <% } %>
        </ul>
      </div>

    </div>
    
  </div>